article {
    margin-bottom: 6rem;
}

.discord-message pre {
    border-left: 6px solid #2a2a2a;
    border-radius: 3px;
    margin: 0.5rem 0;
    padding: 0.5rem 0.5rem;

    background-color: #37393e;
    color: #dcddde;

    font-family: 'Lato', 'Noto Serif SC', 'Helvetica Neue', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Noto Sans',
        'Ubuntu', 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
}

.discord-message pre strong {
    color: inherit;
    font-weight: 900;
}

.discord-message pre em {
    color: inherit;
}

.emoji {
    object-fit: contain;
    width: 1.375em;
    height: 1.375em;
    vertical-align: bottom;
}

.interactive,
.mention {
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 700;
    unicode-bidi: plaintext;
    color: #7289da;
    background: rgba(114, 137, 218, 0.15);
    position: relative;
    cursor: pointer;
}

.interactive svg {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
    position: absolute;
    left: 0.125rem;
    top: 0.125rem;
}

.interactive[class^='iconMention-'] {
    padding-left: 1.25rem !important;
}

div[class^='embedTitle'] {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.375em;
}

pre[class^='embedWrapper'] a {
    text-decoration: none;
}

.toc-container {
    z-index: 100;

    position: fixed;
    left: 2vw;
    top: 3rem;

    max-height: 80vh;
    overflow-y: scroll;

    background-color: #1a1a1a80;
}

.toc {
    width: 22vw;
}

.toc-toggle {
    display: inline-block;
    font-size: 0.8rem;
    margin: 0.5rem 0;
    cursor: pointer;
    color: #5cadf1;
    user-select: none;
}

.toc-list a {
    text-decoration: none;
}

.table-container {
    position: relative;
    left: -26vw;
    width: 100vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin: 2rem 0;
}

table.dataframe {
    font-size: 10pt;
    table-layout: fixed;
    border-collapse: collapse;
    max-width: 100vw;
}

th {
    text-align: left;
    vertical-align: middle;
    padding: 0.4em 0.3em;
    font-weight: 700;
}

thead {
    z-index: 50;

    position: sticky;
    top: 0;
    background-color: #2a2a2a;
}

thead tr:nth-child(1) th {
    top: 0;
}

thead tr:nth-child(2) th {
    top: calc(10pt + 0.8em + 2px);
}

thead th {
    z-index: 50;

    position: sticky;
    background-color: #2a2a2a;

    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td {
    text-align: center;
    vertical-align: middle;
}

tbody tr:nth-child(odd) {
    background-color: #1f1f23;
}

tbody tr th {
    padding-left: 0.8em;
}

td {
    min-width: 128px;
}

.table-title th {
    background-color: #273142;
}

h3 {
    margin: 3rem 0 0.3rem;
}

.for-approval-list .toc-link::before {
    display: none;
}

td {
    position: relative;
}

td .popper-tooltip {
    display: none;
    position: absolute;

    z-index: 200;

    background-color: #1d1d1d;
    border-radius: 3px;

    flex-flow: row nowrap;
    align-items: center;

    padding: 2px;
    height: 100%;

    left: 0;
    top: -2.35rem;
}

td .popper-tooltip > * {
    display: inline-block;
    white-space: nowrap;
    margin: 2px;
    line-height: 1.2rem;
    cursor: default;
    user-select: none;
}

td:hover .popper-tooltip {
    display: flex;
}

td.perm-allow-deco:hover {
    background-color: #96c47515;
}

td.perm-deny-deco:hover {
    background-color: #e06c7515;
}
